[submodule "_vim/bundle/workflowish"]
	path = _vim/bundle/workflowish
	url = git://github.com/lukaszkorecki/workflowish.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
